{{!< default}}

<main class="site-main">

    {{! Splash screen }}
    <section class="p-outer gh-canvas">
        <div class="p-inner gh-content">
            <h2>Charge Up Waterloo Region With Transit</h2>
            <p>
            <strong>IONize Waterloo Region</strong> envisions a complete, reliable rapid transit
            network that connects Cambridge, Kitchener, and Waterloo – guiding growth, improving
            access, and strengthening our region. It’s time to build <strong>ION Stage 2</strong>,
            the <span class="tg-ionize-primary">full LRT extension</span> to Cambridge, and then
            to keep building.
            </p>


            <a class="gh-btn" href="#/portal/signup">Why More ION?</a>
            <a class="gh-btn" href="#/portal/signup">How to Expand ION <em>Effectively</em></a>
            <a class="gh-btn" href="#/portal/signup">Get Involved!</a>
            <a class="gh-btn" href="#/portal/signup">Subscribe to the IONizeWR!</a>
            <p></p>
        </div>
    </section>

    <header class="feed-header gh-canvas">
        <div class="feed-header-wrapper">
            <h2 class="feed-header-title">Latest posts</h2>
        </div>
    </header>

    <div class="post-feed{{#match @custom.feed_layout "!=" "Minimal"}} expanded{{/match}}{{#match @custom.feed_layout "Right thumbnail"}} right-thumbnail{{/match}}{{#match @custom.feed_layout "Text-only"}} text-only{{/match}} gh-feed gh-canvas">
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

    {{pagination}}

</main>

{{#contentFor "body_class"}}{{#if @site.cover_image}} with-full-cover is-head-transparent{{/if}}{{#if @member}} logged-in{{/if}}{{/contentFor}}
